.categories .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  gap: 1.5rem
}
.categories .box{
  background: #fff;
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  padding: 3rem 2rem;
  text-align: center;
  outline: var(--outline);
  outline-offset: -1rem;
}
.categories .box:hover{
  outline-offset: 0;
  outline: var(--outline-hover);
}
.categories .box img{
  height: 15rem;
  margin: 1rem 0;
}
.categories .box h3{
  font-size:2rem;
  line-height:1.8;
  color: var(--black);
}
.categories .box p{
  color: var(--light-color);
  list-style: 1.8;
  font-size: 1.7rem;
  padding: 1rem 0;
}

.products-list {
  padding: 2rem;
  background: #f9f9f9;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
}

.products-list ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.products-list li {
  background: #fff;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.products-list li:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.products-list li img {
  width: 100%;
  max-width: 150px;
  height: auto;
  margin-bottom: 1rem;
}

.products-list li span {
  display: block;
  font-size: 1.6rem;
  color: var(--black);
  font-weight: bold;
  margin-top: 0.5rem;
}

.products-list .btn1 {
  background: var(--primary-color);
  color: #521515;
  cursor: pointer;
  border-radius: 0.3rem;
  
}

.products-list .btn1:hover {
  background: var(--secondary-color);
}


.categoryBox{
  padding-top: 10px;
}

.categoryHeader  {
  display: flex;
  width: '100%';
  height: '100%';
  gap: 10px;
  margin-bottom: 10px;
  position: relative;
  justify-content: center;
}

.btn1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  aspect-ratio: 1;
  display:  flex;
  align-items: center;
  justify-content: center;
  border-radius: 100% !important;

}

.btn1 > img {
  width: 40% !important;
  height: auto !important;
  margin: 0 !important;
}